input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0 0 var(--space-3);
    padding: 0;
}

legend,
label {
    display: block;
    font-weight: 600;
}

legend {
    border-bottom: 1px solid var(--color-grey-dark);
    display: block;
    margin-bottom: var(--space-3);
    padding-bottom: 0.25rem;
    text-transform: uppercase;
    width: 100%;
}

label {
    font-size: 0.875rem;
    margin-bottom: 0.325rem;
}

input[type='number'] {
    border: 1px solid var(--color-grey-dark);
    display: block;
    padding: 0.5rem 2rem 0.5rem 1rem;
    width: 100%;
}

input[type='radio'] + label {
    background-color: var(--color-grey);
    cursor: pointer;
    font-size: var(--checkbox-label-font-size);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding: 0.75rem;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
        background-color: var(--color-blue-dark);
        color: var(--color-white);
    }
}

input[type='radio']:checked + label {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.calculator {
    padding: var(--space-2) 0;
}

.calculator__header {
    margin-bottom: var(--space-2);
}

.calculator__body {
    margin-bottom: var(--space-4);
}

@media screen and (min-width: 80em) {

    .calculator {
        display: grid;
        gap: 0 var(--space-4);
        grid-template-columns: 50% 50%;
    }

    .calculator__header {
        grid-column: 1 / 3;
    }
}

.checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.checkbox-group--small {
    margin-top: 0.5rem;
    max-width: 10rem;
    --checkbox-label-font-size: 0.875rem
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-1) var(--space-2);    
}

.input-group__field {
    
    width: 100%;
}

.input-group__control {
    position: relative;
}

.input-group__suffix {
    position: absolute;
    right: 0;
    padding: 0.5rem;
    bottom: 0;
}

/* Results */
.score-circle {
    align-items: center;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 16px;
    transition: all .3s;
    width: 10rem;

    &.healthy {
        background: linear-gradient(135deg, #11998e, #38ef7d);
        color: #fff;
    }

    &.unhealthy {
        background: linear-gradient(135deg,#eb3349,#f45c43);
        color: #fff;
    }
}

.score-value {
    font-size: var(--text-size-5);
    font-weight: 600;
}

.breakdown {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 0 var(--space-1);
    margin-inline: auto;
    max-width: 20rem;
}

.breakdown-row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    
    &:not(:last-child) {
        border-bottom: 1px solid var(--color-grey);        
    }
}